#log > div {
  color: #313131;
  border-top: 1px solid #EAFDE7;
  padding: 9px;

}
#log > div:first-child {
  border: 0;
  font-size: 18px;
  font-weight: normal;
  padding: 4px;
}
.status {
  min-width: 250px;
}
#log {
  border: 1px solid #EAFDE7;
  padding: 10px;
  height: 100%;

  background: #ffffff;
}

.image-container img{
  border: 1px solid #dadada;
  width: 100%;
}
progress {
  display: block;
  width: 100%;
  transition: opacity 0.5s linear;
}
progress[value="1"] {
  opacity: 0.5;
}
select {
  padding: 5px 5px;
  width: 100%;
  background-color:#0A382F;
  color: #EAFDE7;
  border: 1px solid;

}

.output{
  font-size: 16px;
  font-weight: 400;
  color: #121212;


}
.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.inputfile + label {
  max-width: 100%;
  font-size: 18px;
  /* 20px */
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  padding: 4px 4px;
  /* 10px 20px */
}

.no-js .inputfile + label {
  display: none;
}

.inputfile:focus + label,
.inputfile.has-focus + label {
  outline: 1px dotted #000;
  outline: -webkit-focus-ring-color auto 5px;
}

.inputfile + label * {
  /* pointer-events: none; */
  /* in case of FastClick lib use */
}

.inputfile + label svg {
  width: 1em;
  height: 1em;
  vertical-align: middle;
  fill: currentColor;
  margin-top: -0.25em;
  /* 4px */
  margin-right: 0.25em;
  /* 4px */
}


/* style 1 */

.inputfile-1 + label {
  width: 100%;
  border: 1px solid;
  background-color:transparent;
}

.inputfile-1:focus + label,
.inputfile-1.has-focus + label,
.inputfile-1 + label:hover {
  background-color: transparent;
  font-size: 20px;
}

#arrow-right ,
#arrow-down {
  font-size: 3em;
}

#arrow-right {
  position: absolute;
  top: 60px;
}
#arrow-down{
  width: 50px;
  margin: 10px auto;
}

#arrow-right.fa-arrow-right ,
#arrow-right.fa-spin ,
#arrow-down.fa-arrow-down ,
#arrow-down.fa-spin  {
  color: #d3394c;
}

.fa-check{
  color:green;
}

#log pre {
  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
 }



 @media screen and (min-width: 990px) {
  #startPre{

    top: 5px;
    padding: 10px;
  }
}